body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('https://wallpapercave.com/wp/v9dkzI3.jpg');
    background-size: cover;
    background-position: center;
}
main{
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px ;
    box-shadow: 10px 10px 40px 40px rgba(0,0,0,0.4);
    background-color: #fff;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.post{
    flex-direction: row;
    gap: 5px;
}
.fpost{
    gap: 5px;
    padding: 5px;
    margin: 5px;
}
input{
    border: none;
}
.b{
    width: 150px;
    height: 30px;   
    background-image: url('https://wallpapercave.com/wp/v9dkzI3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}